In [1]:
import time
import urllib.request
import json
import pandas as pd
import re
import sklearn
from sklearn import preprocessing
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [8]:
df= pd.read_csv("hascolUserData.csv")
df

,Unnamed: 0,Tweet full Text,Tweet Datetime,Tweet Id,Retweet Count,Twitter Username,Twitter @ name,Twitter User Id,Twitter User Location,User Verified Status,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Account Created Time
0,0,Team Topline Securities Ltd succesfully compl...,2020-01-16 08:02:19+00:00,1217718710003216385,2,Abdul Aziz - Noman,nomanaziz83,3019525220,"Karachi, Pakistan",False,3992,2615,313257,248404,34,2015-02-14 11:13:36+00:00
1,1,Hascol raises Rs 7.9 billion through rights is...,2020-01-16 06:55:59+00:00,1217702018229448704,1,Mettis Global,MettisGlobal,3236006660,"Karachi, Pakistan",False,4430,747,288,17394,38,2015-06-04 12:36:32+00:00
2,2,@realrazidada HASCOL,2020-01-15 02:19:15+00:00,1217269988123381762,0,JANJUA & JANJUA,haiderjunjua,1022160985,"Lahore, Pakistan",False,297,681,15238,23324,0,2012-12-19 14:07:25+00:00
3,3,$HASCOL #Hascol Petroleum Pakistan OMCs Much n...,2020-01-13 06:50:33+00:00,1216613486706319360,0,ResearchPool,ResearchPool,3068641671,"Paris, France",False,9236,4204,426,425783,361,2015-03-03 22:15:05+00:00
4,4,Every individual is very bullish about #hascol...,2020-01-13 03:45:09+00:00,1216566827637190657,1,Rollo,HassannKhannn,947357036630695936,East London,False,268,729,2362,4174,6,2017-12-31 06:41:33+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,1863,Breaking\nWagan Bypas Pr Hascol Pump Pr Tanker...,2016-02-09 17:05:26+00:00,697104028992475136,0,MD Muneer Lashari,Dharti_News6,2554683968,NaN,False,1337,9,197,45568,12,2014-06-08 13:09:07+00:00
1213,1864,Sparkling clean washrooms at Hascol's Bhera se...,2016-01-22 12:15:53+00:00,690508178983895040,0,Jaffar Malik,Jaffar_Awan,443298798,"Lahore, Pakistan",False,124,274,14862,4572,7,2011-12-22 01:39:14+00:00
1214,1865,#MLCF and #HASCOL for today by #SafelyInvest h...,2016-01-19 09:21:18+00:00,689377081797423104,0,Khalid Saifuddin,KhalidSaifuddin,112275676,"Karachi, Lahore, Islamabad",False,2508,1800,2702,50022,69,2010-02-07 22:09:06+00:00
1215,1866,Hascol at motorway ... what a nice sight of cl...,2016-01-14 10:21:33+00:00,687580304299704320,0,Uma Faisal,umafaisal,605179948,lahore,False,261,181,602,5324,22,2012-06-11 06:38:45+00:00
1216,1867,Omc numbers for Dec'15\n\nIndustry up 9% in De...,2016-01-06 07:57:49+00:00,684645029823025153,0,Raheel Ashraf,equitylinker,1153375536,Karachi,False,643,25,49,1089,6,2013-02-06 08:42:12+00:00

In [9]:
df['Reach Score'] = (df['Friends Count'] - df['Users Following Count'] ).abs()
df

,Unnamed: 0,Tweet full Text,Tweet Datetime,Tweet Id,Retweet Count,Twitter Username,Twitter @ name,Twitter User Id,Twitter User Location,User Verified Status,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Account Created Time,Reach Score
0,0,Team Topline Securities Ltd succesfully compl...,2020-01-16 08:02:19+00:00,1217718710003216385,2,Abdul Aziz - Noman,nomanaziz83,3019525220,"Karachi, Pakistan",False,3992,2615,313257,248404,34,2015-02-14 11:13:36+00:00,1377
1,1,Hascol raises Rs 7.9 billion through rights is...,2020-01-16 06:55:59+00:00,1217702018229448704,1,Mettis Global,MettisGlobal,3236006660,"Karachi, Pakistan",False,4430,747,288,17394,38,2015-06-04 12:36:32+00:00,3683
2,2,@realrazidada HASCOL,2020-01-15 02:19:15+00:00,1217269988123381762,0,JANJUA & JANJUA,haiderjunjua,1022160985,"Lahore, Pakistan",False,297,681,15238,23324,0,2012-12-19 14:07:25+00:00,384
3,3,$HASCOL #Hascol Petroleum Pakistan OMCs Much n...,2020-01-13 06:50:33+00:00,1216613486706319360,0,ResearchPool,ResearchPool,3068641671,"Paris, France",False,9236,4204,426,425783,361,2015-03-03 22:15:05+00:00,5032
4,4,Every individual is very bullish about #hascol...,2020-01-13 03:45:09+00:00,1216566827637190657,1,Rollo,HassannKhannn,947357036630695936,East London,False,268,729,2362,4174,6,2017-12-31 06:41:33+00:00,461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,1863,Breaking\nWagan Bypas Pr Hascol Pump Pr Tanker...,2016-02-09 17:05:26+00:00,697104028992475136,0,MD Muneer Lashari,Dharti_News6,2554683968,NaN,False,1337,9,197,45568,12,2014-06-08 13:09:07+00:00,1328
1213,1864,Sparkling clean washrooms at Hascol's Bhera se...,2016-01-22 12:15:53+00:00,690508178983895040,0,Jaffar Malik,Jaffar_Awan,443298798,"Lahore, Pakistan",False,124,274,14862,4572,7,2011-12-22 01:39:14+00:00,150
1214,1865,#MLCF and #HASCOL for today by #SafelyInvest h...,2016-01-19 09:21:18+00:00,689377081797423104,0,Khalid Saifuddin,KhalidSaifuddin,112275676,"Karachi, Lahore, Islamabad",False,2508,1800,2702,50022,69,2010-02-07 22:09:06+00:00,708
1215,1866,Hascol at motorway ... what a nice sight of cl...,2016-01-14 10:21:33+00:00,687580304299704320,0,Uma Faisal,umafaisal,605179948,lahore,False,261,181,602,5324,22,2012-06-11 06:38:45+00:00,80
1216,1867,Omc numbers for Dec'15\n\nIndustry up 9% in De...,2016-01-06 07:57:49+00:00,684645029823025153,0,Raheel Ashraf,equitylinker,1153375536,Karachi,False,643,25,49,1089,6,2013-02-06 08:42:12+00:00,618

In [10]:
X =df[['Retweet Count','Users Following Count','Friends Count','Users Number of Likes','Users Tweets Count' , 'Lists Containing User']]
Y = df['Reach Score']

In [11]:
X_split = int(0.7 * len(X))
y_split = int(0.7 * len(Y))
X_train = X[: X_split]
X_test = X[X_split:]
y_train = Y[: y_split]
y_test = Y[y_split:]

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(851, 6) (366, 6) (851,) (366,)

In [12]:
#model_Linear_Regression
model = LinearRegression()
model.fit(X_train, y_train.ravel())
df_feature_importance = pd.DataFrame(model.coef_, index=X.columns, columns=['Weights']).sort_values('Weights', ascending=False)
df_feature_importance

                        Weights
Users Following Count  0.999970
Users Number of Likes  0.002331
Users Tweets Count    -0.000197
Lists Containing User -0.406545
Friends Count         -0.975668
Retweet Count         -3.334551

In [23]:
#model_Decision_tree_regressor
from sklearn.tree import DecisionTreeRegressor
model1 = DecisionTreeRegressor()
model1.fit(X_train, y_train.ravel())
df_feature_importance = pd.DataFrame(model1.feature_importances_, index=X.columns, columns=['Weights']).sort_values('Weights', ascending=False)
df_feature_importance

                        Weights
Users Following Count  0.987494
Lists Containing User  0.008873
Users Tweets Count     0.001653
Users Number of Likes  0.001428
Friends Count          0.000513
Retweet Count          0.000039

In [26]:
#Inf Score Calculation Without normalization

df2= pd.read_csv("hascolUserData.csv")

In [27]:
df2['Influence Score'] = 0.987494*df2['Users Following Count'] + 0.000513*df2['Friends Count'] 
                        + 0.001428*df2['Users Number of Likes'] + 0.001653*df2['Users Tweets Count']
                        +0.008873*df2['Lists Containing User']+ 0.000039*df2['Retweet Count']

In [28]:
df2

,Unnamed: 0,Tweet full Text,Tweet Datetime,Tweet Id,Retweet Count,Twitter Username,Twitter @ name,Twitter User Id,Twitter User Location,User Verified Status,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Account Created Time,Influence Score
0,0,Team Topline Securities Ltd succesfully compl...,2020-01-16 08:02:19+00:00,1217718710003216385,2,Abdul Aziz - Noman,nomanaziz83,3019525220,"Karachi, Pakistan",False,3992,2615,313257,248404,34,2015-02-14 11:13:36+00:00,4801.662111
1,1,Hascol raises Rs 7.9 billion through rights is...,2020-01-16 06:55:59+00:00,1217702018229448704,1,Mettis Global,MettisGlobal,3236006660,"Karachi, Pakistan",False,4430,747,288,17394,38,2015-06-04 12:36:32+00:00,4404.482390
2,2,@realrazidada HASCOL,2020-01-15 02:19:15+00:00,1217269988123381762,0,JANJUA & JANJUA,haiderjunjua,1022160985,"Lahore, Pakistan",False,297,681,15238,23324,0,2012-12-19 14:07:25+00:00,353.949507
3,3,$HASCOL #Hascol Petroleum Pakistan OMCs Much n...,2020-01-13 06:50:33+00:00,1216613486706319360,0,ResearchPool,ResearchPool,3068641671,"Paris, France",False,9236,4204,426,425783,361,2015-03-03 22:15:05+00:00,9830.282016
4,4,Every individual is very bullish about #hascol...,2020-01-13 03:45:09+00:00,1216566827637190657,1,Rollo,HassannKhannn,947357036630695936,East London,False,268,729,2362,4174,6,2017-12-31 06:41:33+00:00,275.348204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,1863,Breaking\nWagan Bypas Pr Hascol Pump Pr Tanker...,2016-02-09 17:05:26+00:00,697104028992475136,0,MD Muneer Lashari,Dharti_News6,2554683968,NaN,False,1337,9,197,45568,12,2014-06-08 13:09:07+00:00,1395.995791
1213,1864,Sparkling clean washrooms at Hascol's Bhera se...,2016-01-22 12:15:53+00:00,690508178983895040,0,Jaffar Malik,Jaffar_Awan,443298798,"Lahore, Pakistan",False,124,274,14862,4572,7,2011-12-22 01:39:14+00:00,151.432381
1214,1865,#MLCF and #HASCOL for today by #SafelyInvest h...,2016-01-19 09:21:18+00:00,689377081797423104,0,Khalid Saifuddin,KhalidSaifuddin,112275676,"Karachi, Lahore, Islamabad",False,2508,1800,2702,50022,69,2010-02-07 22:09:06+00:00,2564.715411
1215,1866,Hascol at motorway ... what a nice sight of cl...,2016-01-14 10:21:33+00:00,687580304299704320,0,Uma Faisal,umafaisal,605179948,lahore,False,261,181,602,5324,22,2012-06-11 06:38:45+00:00,267.684221
1216,1867,Omc numbers for Dec'15\n\nIndustry up 9% in De...,2016-01-06 07:57:49+00:00,684645029823025153,0,Raheel Ashraf,equitylinker,1153375536,Karachi,False,643,25,49,1089,6,2013-02-06 08:42:12+00:00,636.894794

In [29]:
df2.to_csv('Hascol_User_Inf_Scores.csv')

In [12]:
df2 = df1[['Tweet Datetime','Twitter Username', 'Twitter User Id','Tweet Id', 'Users Following Count', 'Friends Count', 'Users Number of Likes','Users Tweets Count','Lists Containing User','Retweet Count']]
df3= df2[['Users Following Count', 'Friends Count', 'Users Number of Likes','Users Tweets Count','Lists Containing User','Retweet Count']]
df3

NameError: name 'df1' is not defined

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df3)
scaled = scaler.fit_transform(df3)
scaled_df = pd.DataFrame(scaled, columns=df3.columns)
scaled_df

,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count
0,0.000021,0.022996,0.000864,0.000209,0.000029,0.000000
1,0.022509,0.410678,0.013076,0.277854,0.003474,0.000000
2,0.000010,0.001491,0.001308,0.000236,0.000000,0.000000
3,0.000066,0.014884,0.091226,0.015690,0.000020,0.000000
4,0.000123,0.044136,0.044198,0.058679,0.000000,0.000000
...,...,...,...,...,...,...
1758,0.001518,0.000228,0.000007,0.002081,0.001452,0.002904
1759,0.000294,0.011704,0.001171,0.006654,0.001315,0.003872
1760,0.000001,0.000670,0.000086,0.000405,0.000236,0.000000
1761,0.000114,0.009223,0.042306,0.017866,0.000079,0.000000
1762,0.000265,0.007564,0.030054,0.018488,0.000540,0.003872

In [11]:
df2['Users Following Count']= scaled_df['Users Following Count']
df2['Friends Count']= scaled_df['Friends Count']
df2['Users Number of Likes']= scaled_df['Users Number of Likes']
df2['Users Tweets Count']= scaled_df['Users Tweets Count']
df2['Lists Containing User']= scaled_df['Lists Containing User']
df2['Retweet Count']= scaled_df['Retweet Count']

df2

<ipython-input-11-807fe3f3f438>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Users Following Count']= scaled_df['Users Following Count']
<ipython-input-11-807fe3f3f438>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Friends Count']= scaled_df['Friends Count']
<ipython-input-11-807fe3f3f438>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Users Number of Likes']= scaled_df['Users Number of Likes']
<ipython-input-11-807fe3f3f438>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Users Tweets Count']= scaled_df['Users Tweets Count']
<ipython-input-11-807fe3f3f438>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Lists Containing User']= scaled_df['Lists Containing User']
<ipython-input-11-807fe3f3f438>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Retweet Count']= scaled_df['Retweet Count']

,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Reach Score
0,2020-05-20 14:22:49+00:00,IraqPetroleum,1257686464051253249,1263112949700407296,0.000021,0.022996,0.000864,0.000209,0.000029,0.000000,1183
1,2020-05-19 21:35:32+00:00,Traffic Updates + Useful Info,216331785,1262859461024079872,0.022509,0.410678,0.013076,0.277854,0.003474,0.000000,319119
2,2020-05-19 20:50:34+00:00,NUEL ❣️,1047107448593637377,1262848144917909511,0.000010,0.001491,0.001308,0.000236,0.000000,0.000000,58
3,2020-05-15 19:56:29+00:00,Stew,66995786,1261384981168914434,0.000066,0.014884,0.091226,0.015690,0.000020,0.000000,33
4,2020-05-15 17:43:15+00:00,Raju,2303543581,1261351450812137472,0.000123,0.044136,0.044198,0.058679,0.000000,0.000000,1010
...,...,...,...,...,...,...,...,...,...,...,...
1758,2016-01-04 18:41:51+00:00,Libyaschannel EN,2992192641,684082328788963329,0.001518,0.000228,0.000007,0.002081,0.001452,0.002904,23329
1759,2016-01-04 11:20:47+00:00,Sami M. Berriwen,366705314,683971331151540224,0.000294,0.011704,0.001171,0.006654,0.001315,0.003872,3745
1760,2016-01-04 04:43:22+00:00,character Ideas,3062252606,683871318169776128,0.000001,0.000670,0.000086,0.000405,0.000236,0.000000,24
1761,2016-01-03 03:19:38+00:00,#عبدالله_بن_فالح,490749950,683487857386909697,0.000114,0.009223,0.042306,0.017866,0.000079,0.000000,1147
1762,2016-01-02 17:55:57+00:00,Nellore PeddaReddy,1518619074,683346003102044160,0.000265,0.007564,0.030054,0.018488,0.000540,0.003872,3582

In [10]:
df3

,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Influence Score
0,328,1511,720,768,3,0,535.331592
1,346103,26984,10897,1018117,354,0,290046.484251
2,156,98,1090,867,0,0,146.066176
3,1011,978,76022,57496,2,0,1025.805597
4,1890,2900,36832,215014,0,0,2080.022694
...,...,...,...,...,...,...,...
1758,23344,15,6,7627,148,3,19245.429639
1759,4514,769,976,24385,134,4,3856.430204
1760,20,44,72,1488,24,0,24.248340
1761,1753,606,35255,65466,8,0,1561.739737
1762,4079,497,25045,67746,55,4,3457.357547

In [8]:
#Calculate score using importance scores from decision tree model as weights to adjust relative contribution
df3['Influence Score'] = 0.824307*df3['Users Following Count'] + 0.175218*df3['Friends Count'] + 0.000262*df3['Users Number of Likes'] + 0.000020*df3['Users Tweets Count']+ 0.000166*df3['Lists Containing User']+ 0.000027*df3['Retweet Count']

<ipython-input-8-5dbc1f8f2f8d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Influence Score'] = 0.824307*df3['Users Following Count'] + 0.175218*df3['Friends Count'] + 0.000262*df3['Users Number of Likes'] + 0.000020*df3['Users Tweets Count']+ 0.000166*df3['Lists Containing User']+ 0.000027*df3['Retweet Count']

In [16]:
df2.to_csv('APL_User_Inf_Scores.csv')

In [9]:
c

,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Influence Score
0,328,1511,720,768,3,0,535.331592
1,346103,26984,10897,1018117,354,0,290046.484251
2,156,98,1090,867,0,0,146.066176
3,1011,978,76022,57496,2,0,1025.805597
4,1890,2900,36832,215014,0,0,2080.022694
...,...,...,...,...,...,...,...
1758,23344,15,6,7627,148,3,19245.429639
1759,4514,769,976,24385,134,4,3856.430204
1760,20,44,72,1488,24,0,24.248340
1761,1753,606,35255,65466,8,0,1561.739737
1762,4079,497,25045,67746,55,4,3457.357547

In [19]:
df3.sort_values('score', ascending=0).head(100)

,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Reach Score,score
572,2019-09-15 22:19:39+00:00,The Associated Press,51241574,1173360760069730304,1.000000,0.104176,0.004381,0.082976,1.000000,1.000000,1.000000,0.842756
341,2019-09-29 12:50:05+00:00,The Hindu,20751449,1178290853267279873,0.476322,0.003211,0.000185,0.111700,0.071516,0.019361,0.476521,0.393213
77,2020-03-04 05:30:00+00:00,"People's Daily, China",303862998,1235074995962802176,0.448106,0.066052,0.001276,0.028611,0.079622,0.021297,0.448023,0.380965
928,2019-02-20 05:31:05+00:00,ANI,355989081,1098092654464663552,0.406720,0.000000,0.000001,0.141666,0.055884,0.050339,0.406901,0.335275
768,2019-06-01 10:01:00+00:00,GMA News,39453212,1134761756813922304,0.390703,0.010075,0.018133,0.205536,0.085755,0.001936,0.390834,0.323847
...,...,...,...,...,...,...,...,...,...,...,...,...
939,2019-02-09 10:02:00+00:00,Hockey India,625438569,1094174566778204160,0.023738,0.001689,0.003210,0.010549,0.003896,0.000968,0.023741,0.019865
409,2019-09-17 20:54:08+00:00,Antiwar.com,15503210,1174064014273339392,0.003317,0.095638,0.034313,0.016680,0.014219,0.004840,0.002910,0.019504
926,2019-02-20 05:34:39+00:00,News Nation,1039015705,1098093552288952322,0.023365,0.000304,0.002302,0.096226,0.007134,0.000000,0.023374,0.019317
1756,2016-01-06 11:58:54+00:00,Habib M. Sayah 𐃏,234539951,684705699490873344,0.000482,0.107129,0.025658,0.006847,0.001246,0.001936,0.000024,0.019175
1538,2016-06-03 21:23:29+00:00,ChannelsTV UK,631531017,738843572795932673,0.022953,0.001278,0.003122,0.020348,0.004239,0.004840,0.022958,0.019147

In [21]:
sdf= pd.read_csv("VaderAplSav2.csv")
sdf.head()

,Unnamed: 0,USER ID,DATE,TIME,Time Format,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment
0,2360,704577331432660992,2016-01-03,13:01:40,Pakistan,nimraraees99,Attock Petroleum Limited (APL) Slipping Marke...,0.0772,Pos
1,2359,704662143090761728,2016-01-03,18:38:41,Pakistan,frontpocket00,if I made #horrormovies I would want a script...,-0.8834,Neg
2,2046,760075924565995520,2016-01-08,16:33:16,Pakistan,shaistawahidi3,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
3,2045,760075950591619073,2016-01-08,16:33:22,Pakistan,AroojAftab2,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
4,2043,760076007294443520,2016-01-08,16:33:36,Pakistan,SanamBaloch12,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu

In [27]:
sdf.rename(columns = {'USER ID':'Tweet Id'}, inplace = True)

In [28]:
sdf

,Unnamed: 0,Tweet Id,DATE,TIME,Time Format,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment
0,2360,704577331432660992,2016-01-03,13:01:40,Pakistan,nimraraees99,Attock Petroleum Limited (APL) Slipping Marke...,0.0772,Pos
1,2359,704662143090761728,2016-01-03,18:38:41,Pakistan,frontpocket00,if I made #horrormovies I would want a script...,-0.8834,Neg
2,2046,760075924565995520,2016-01-08,16:33:16,Pakistan,shaistawahidi3,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
3,2045,760075950591619073,2016-01-08,16:33:22,Pakistan,AroojAftab2,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
4,2043,760076007294443520,2016-01-08,16:33:36,Pakistan,SanamBaloch12,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
...,...,...,...,...,...,...,...,...,...
2455,125,1227590184570687488,2020-12-02,18:48:02,Pakistan,usqc_info,Annual medical exams for fire fighters can he...,-0.5330,Neg
2456,126,1227535486064918531,2020-12-02,15:10:41,Pakistan,SteveFrechette4,None petroleum complex under attack from all ...,-0.2263,Neg
2457,124,1227604219974291456,2020-12-02,19:43:48,Pakistan,FahimQureshi19,Please check petrol pumps of satellite town R...,0.3182,Pos
2458,92,1237953262986432512,2020-12-03,09:07:12,Pakistan,GMT_4,The crude oil market is in #contango #POTUS i...,-0.8118,Neg
2459,49,1249391302728224769,2020-12-04,22:37:53,Pakistan,IsabelL91214581,Brazilians dont want Americans to go Amazon...,-0.8819,Neg

In [29]:
sdf2 = sdf[['Tweet Id','DATE','TWITTER HANDLE','TWEET','Vader Sentiment Score','sentiment']]
sdf2

,Tweet Id,DATE,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment
0,704577331432660992,2016-01-03,nimraraees99,Attock Petroleum Limited (APL) Slipping Marke...,0.0772,Pos
1,704662143090761728,2016-01-03,frontpocket00,if I made #horrormovies I would want a script...,-0.8834,Neg
2,760075924565995520,2016-01-08,shaistawahidi3,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
3,760075950591619073,2016-01-08,AroojAftab2,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
4,760076007294443520,2016-01-08,SanamBaloch12,Situation vacant at Attock PetroleumÿLimited ...,0.0000,Neu
...,...,...,...,...,...,...
2455,1227590184570687488,2020-12-02,usqc_info,Annual medical exams for fire fighters can he...,-0.5330,Neg
2456,1227535486064918531,2020-12-02,SteveFrechette4,None petroleum complex under attack from all ...,-0.2263,Neg
2457,1227604219974291456,2020-12-02,FahimQureshi19,Please check petrol pumps of satellite town R...,0.3182,Pos
2458,1237953262986432512,2020-12-03,GMT_4,The crude oil market is in #contango #POTUS i...,-0.8118,Neg
2459,1249391302728224769,2020-12-04,IsabelL91214581,Brazilians dont want Americans to go Amazon...,-0.8819,Neg

In [41]:
newdf = pd.merge(df2, sdf2, on="Tweet Id")

In [42]:
newdf

,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Reach Score,score,DATE,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment
0,2020-05-20 14:22:49+00:00,IraqPetroleum,1257686464051253249,1263112949700407296,0.000021,0.022996,0.000864,0.000209,0.000029,0.000000,0.000077,0.004047,2020-05-20,IraqPetroleum,Iraq: Daesh militants attack power lines in D...,-0.5632,Neg
1,2020-05-19 21:35:32+00:00,Traffic Updates + Useful Info,216331785,1262859461024079872,0.022509,0.410678,0.013076,0.277854,0.003474,0.000000,0.020764,0.090522,2020-05-20,trafficbutter,VIA @NuelchuksG: An asthmatic patient gets a...,-0.6486,Neg
2,2020-05-19 20:50:34+00:00,NUEL ❣️,1047107448593637377,1262848144917909511,0.000010,0.001491,0.001308,0.000236,0.000000,0.000000,0.000004,0.000270,2020-05-20,NuelchuksG,An asthmatic patient gets an attack late at n...,-0.6486,Neg
3,2020-05-15 19:56:29+00:00,Stew,66995786,1261384981168914434,0.000066,0.014884,0.091226,0.015690,0.000020,0.000000,0.000002,0.002686,2020-05-16,Mstewable,Government stockpiling items needed in a pand...,0.3182,Pos
4,2020-05-15 17:43:15+00:00,Raju,2303543581,1261351450812137472,0.000123,0.044136,0.044198,0.058679,0.000000,0.000000,0.000066,0.007847,2020-05-15,Raju295rajuRaju,From when he came in power everything of In...,-0.9750,Neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1758,2016-01-04 18:41:51+00:00,Libyaschannel EN,2992192641,684082328788963329,0.001518,0.000228,0.000007,0.002081,0.001452,0.002904,0.001518,0.001292,2016-04-01,LibyaschannelEN,Chairman of (HoR-appointed) National Oil Corp...,-0.4767,Neg
1759,2016-01-04 11:20:47+00:00,Sami M. Berriwen,366705314,683971331151540224,0.000294,0.011704,0.001171,0.006654,0.001315,0.003872,0.000244,0.002293,2016-04-01,SamiBerriwen,#Libya | Petroleum Facilities Guard order the...,-0.4767,Neg
1760,2016-01-04 04:43:22+00:00,character Ideas,3062252606,683871318169776128,0.000001,0.000670,0.000086,0.000405,0.000236,0.000000,0.000002,0.000118,2016-04-01,WordyOfMuses,(cont) an entire nation hate a religion in o...,-0.5574,Neg
1761,2016-01-03 03:19:38+00:00,#عبدالله_بن_فالح,490749950,683487857386909697,0.000114,0.009223,0.042306,0.017866,0.000079,0.000000,0.000075,0.001721,2016-03-01,aaklubi,@MLockewp Search for al-mohaya compound bombi...,-0.4767,Neg
1762,2016-01-02 17:55:57+00:00,Nellore PeddaReddy,1518619074,683346003102044160,0.000265,0.007564,0.030054,0.018488,0.000540,0.003872,0.000233,0.001552,2016-02-01,Tenali_RK,Pakistani terrorists attack Indian airforce b...,-0.7494,Neg

In [49]:
df200 = newdf.sort_values('score', ascending=0).head(200)
df200

,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Reach Score,score,DATE,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment
572,2019-09-15 22:19:39+00:00,The Associated Press,51241574,1173360760069730304,1.000000,0.104176,0.004381,0.082976,1.000000,1.000000,1.000000,0.842756,2019-09-16,AP,BREAKING: Trump says he has approved release ...,-0.0772,Neg
341,2019-09-29 12:50:05+00:00,The Hindu,20751449,1178290853267279873,0.476322,0.003211,0.000185,0.111700,0.071516,0.019361,0.476521,0.393213,2019-09-29,the_hindu,Recent incidents like the lethal drone attack...,0.5994,Pos
77,2020-03-04 05:30:00+00:00,"People's Daily, China",303862998,1235074995962802176,0.448106,0.066052,0.001276,0.028611,0.079622,0.021297,0.448023,0.380965,2020-04-03,PDChina,A new #cybersecurity report says that the #CI...,-0.4767,Neg
928,2019-02-20 05:31:05+00:00,ANI,355989081,1098092654464663552,0.406720,0.000000,0.000001,0.141666,0.055884,0.050339,0.406901,0.335275,2019-02-20,ANI,Consortium of Indian Petroleum Dealers (CIPD)...,-0.4939,Neg
768,2019-06-01 10:01:00+00:00,GMA News,39453212,1134761756813922304,0.390703,0.010075,0.018133,0.205536,0.085755,0.001936,0.390834,0.323847,2019-01-06,gmanews,The Philippines urged all parties involved in...,-0.5994,Neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,2016-02-10 00:21:57+00:00,⬇↘➡ ✊ = Hadouken,137655302,697213880188203008,0.000383,0.066630,0.044171,0.154816,0.001011,0.000000,0.000098,0.012005,2016-10-02,TheAsifAli,corporate results: Attock Petroleum announces...,0.0000,Neu
271,2019-10-21 21:04:00+00:00,Rosy,2970619987,1186387685558108161,0.000157,0.067528,0.098102,0.004044,0.000039,0.003872,0.000131,0.011988,2019-10-22,jonathanrosy,Exactly!!! Kinsella was hired to make up lies...,-0.6679,Neg
315,2019-10-07 07:24:18+00:00,Torchsec 🔦,115889273,1181107967804002304,0.000669,0.064043,0.005792,0.031136,0.001070,0.000000,0.000396,0.011775,2019-07-10,maher275,Hibiscus Petroleum suffers cyberÿattack http...,-0.4767,Neg
122,2020-01-22 06:10:33+00:00,ResearchPool,3068641671,1219864912819736576,0.000589,0.064393,0.000512,0.111802,0.003503,0.000000,0.000314,0.011771,2020-01-22,ResearchPool,$APL #Attock Petroleum APL_1HFY20 EPS clocks ...,-0.5803,Neg
331,2019-10-02 11:54:35+00:00,ResearchPool,3068641671,1179364048456110086,0.000589,0.064393,0.000512,0.111802,0.003503,0.000000,0.000314,0.011771,2019-02-10,ResearchPool,$APL #Attock Petroleum ... Pakistan (IMS): OM...,0.6072,Pos

In [50]:
df200["DATE"] = pd.to_datetime(df200["DATE"])
df200.dtypes

Tweet Datetime                   object
Twitter Username                 object
Twitter User Id                   int64
Tweet Id                          int64
Users Following Count           float64
Friends Count                   float64
Users Number of Likes           float64
Users Tweets Count              float64
Lists Containing User           float64
Retweet Count                   float64
Reach Score                     float64
score                           float64
DATE                     datetime64[ns]
TWITTER HANDLE                   object
TWEET                            object
Vader Sentiment Score           float64
sentiment                        object
dtype: object

In [54]:
df200 = df200.sort_values(by="DATE")
df200.set_index('DATE', inplace=True)

KeyError: "None of ['DATE'] are in the columns"

In [61]:
df200.index.names = ['Date']
df200

,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,Reach Score,score,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment
Date,,,,,,,,,,,,,,,,
2016-01-08,2016-08-01 15:55:48+00:00,Jobzvilla.com,574235596,760141993561522176,0.000312,0.078227,0.000379,0.004370,0.000098,0.000000,0.000022,0.013964,jobzvilla,CAREER OPPORTUNITIES IN ATTOCK PETROLEUM Assi...,0.5160,Pos
2016-01-20,2016-01-20 14:25:58+00:00,Dr Freddy ,322988210,689816138822262784,0.001260,0.077405,0.004927,0.048618,0.000667,0.000000,0.000929,0.014603,DOC_FREDDYBOSS,Pipeline Attack: NNPC Shuts Port Harcourt Kad...,-0.4767,Neg
2016-01-21,2016-01-21 06:39:53+00:00,The Paradise,4248352301,690061234067087360,0.000971,0.147399,0.024461,0.007473,0.000069,0.000000,0.000342,0.026634,ParadiseNewsNg,NNPC Shuts Port Harcourt And Kaduna Refinerie...,-0.4767,Neg
2016-02-22,2016-02-22 15:03:45+00:00,Green Bean,15081378,701784449722089472,0.000718,0.099352,0.373164,0.028567,0.005544,0.000968,0.000293,0.018099,iamgreenbean,Fossil fuel industry funding new group to spe...,-0.1280,Neg
2016-03-06,2016-06-03 05:57:32+00:00,The Guardian Nigeria,57320024,738610550146400256,0.141371,0.007153,0.003468,0.068118,0.018968,0.040658,0.141403,0.117793,GuardianNigeria,Niger Delta Avengers attack Shell Petroleum D...,-0.5632,Neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-04,2020-04-03 22:46:08+00:00,Miranda C. Bell Reporting NMS15a Felony Crimes,2790314135,1246207383023554560,0.000756,0.168873,0.271215,0.029688,0.001217,0.000968,0.000035,0.030285,truthsearch1957,He's practically revealing this is a staged p...,-0.7777,Neg
2020-04-25,2020-04-25 05:57:10+00:00,Bharat Petroleum,2854166772,1253926000687267841,0.022154,0.017198,0.017214,0.008523,0.001649,0.015489,0.022091,0.021281,BPCLimited,Hon?ble Minister of Petroleum & Natural Gas a...,-0.4404,Neg
2020-05-15,2020-05-15 03:32:13+00:00,Progressive Activist Demanding🇺🇸Justice 4 ALL,2327325201,1261137281101885444,0.000125,0.076112,0.058058,0.025846,0.000010,0.000000,0.000200,0.013455,bernard_karin,@GOP ????????Drones out 2 PUBLICLY Attack Wh...,-0.9781,Neg
2020-05-20,2020-05-19 21:35:32+00:00,Traffic Updates + Useful Info,216331785,1262859461024079872,0.022509,0.410678,0.013076,0.277854,0.003474,0.000000,0.020764,0.090522,trafficbutter,VIA @NuelchuksG: An asthmatic patient gets a...,-0.6486,Neg
2020-06-01,2020-01-06 10:03:14+00:00,Hurr,1083208068,1214125261307953152,0.000319,0.082047,0.032106,0.006840,0.000010,0.000000,0.000032,0.014648,jaleelhb,This is end selling price 117.01 assign for A...,0.0000,Neu

In [62]:
df200.to_csv('dateIndexCheck.csv')

In [63]:
df200.index[df200.index.duplicated()].unique()

DatetimeIndex(['2016-03-27', '2016-04-06', '2016-07-31', '2016-08-07',
               '2016-08-16', '2016-09-07', '2016-10-02', '2016-10-07',
               '2016-10-27', '2018-12-10', '2019-01-02', '2019-01-06',
               '2019-02-20', '2019-02-22', '2019-07-10', '2019-07-25',
               '2019-08-03', '2019-09-15', '2019-09-16', '2019-09-17',
               '2019-09-18', '2019-09-29', '2019-10-14', '2019-11-14',
               '2019-12-11', '2019-12-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [75]:
#merge 2 data frame on date and index
smdata = pd.read_csv("APLStocksFilledValuesFinal.csv")
smdata['Date'] = pd.to_datetime(smdata['Date'])
smdata.drop(['Unnamed: 0'  ],axis = 1 , inplace = True)
smdata.head(20)

         Date     Open    High      Low   Close  Volume
0  2016-01-01  500.010  500.01  498.010  498.51     500
1  2016-01-02  497.505  500.00  495.505  498.51    2300
2  2016-01-03  497.505  500.00  495.505  498.51    2300
3  2016-01-04  497.505  500.00  495.505  498.51    2300
4  2016-01-05  495.000  499.99  493.000  495.91    4100
5  2016-01-06  495.000  495.00  489.000  492.00    2500
6  2016-01-07  490.000  490.00  485.000  486.00    5300
7  2016-01-08  483.000  483.00  480.010  480.01    1900
8  2016-01-09  483.000  483.00  480.010  480.01    1900
9  2016-01-10  483.000  483.00  480.010  480.01    1900
10 2016-01-11  477.000  480.00  470.050  478.92   20200
11 2016-01-12  471.500  478.00  467.000  467.00    5600
12 2016-01-13  467.000  467.00  461.160  461.36    3200
13 2016-01-14  461.000  461.00  449.000  449.00   13000
14 2016-01-15  455.000  455.00  427.000  433.90    6800
15 2016-01-16  433.605  440.00  419.605  429.45    7300
16 2016-01-17  433.605  440.00  419.605  429.45    7300
17 2016-01-18  412.210  425.00  412.210  425.00    7800
18 2016-01-19  435.000  440.00  433.970  439.71    4200
19 2016-01-20  440.000  445.00  435.000  435.00    2300

In [71]:
fdf = pd.merge(df200, smdata, on="Date", how="left")
fdf

,Date,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,...,score,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment,Open,High,Low,Close,Volume
0,2016-01-08,2016-08-01 15:55:48+00:00,Jobzvilla.com,574235596,760141993561522176,0.000312,0.078227,0.000379,0.004370,0.000098,...,0.013964,jobzvilla,CAREER OPPORTUNITIES IN ATTOCK PETROLEUM Assi...,0.5160,Pos,483.0,483.00,480.01,480.01,1900.0
1,2016-01-20,2016-01-20 14:25:58+00:00,Dr Freddy ,322988210,689816138822262784,0.001260,0.077405,0.004927,0.048618,0.000667,...,0.014603,DOC_FREDDYBOSS,Pipeline Attack: NNPC Shuts Port Harcourt Kad...,-0.4767,Neg,440.0,445.00,435.00,435.00,2300.0
2,2016-01-21,2016-01-21 06:39:53+00:00,The Paradise,4248352301,690061234067087360,0.000971,0.147399,0.024461,0.007473,0.000069,...,0.026634,ParadiseNewsNg,NNPC Shuts Port Harcourt And Kaduna Refinerie...,-0.4767,Neg,445.0,445.00,427.00,427.00,2400.0
3,2016-02-22,2016-02-22 15:03:45+00:00,Green Bean,15081378,701784449722089472,0.000718,0.099352,0.373164,0.028567,0.005544,...,0.018099,iamgreenbean,Fossil fuel industry funding new group to spe...,-0.1280,Neg,426.0,434.00,422.00,428.11,31500.0
4,2016-03-06,2016-06-03 05:57:32+00:00,The Guardian Nigeria,57320024,738610550146400256,0.141371,0.007153,0.003468,0.068118,0.018968,...,0.117793,GuardianNigeria,Niger Delta Avengers attack Shell Petroleum D...,-0.5632,Neg,433.8,439.99,431.34,436.97,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020-04-04,2020-04-03 22:46:08+00:00,Miranda C. Bell Reporting NMS15a Felony Crimes,2790314135,1246207383023554560,0.000756,0.168873,0.271215,0.029688,0.001217,...,0.030285,truthsearch1957,He's practically revealing this is a staged p...,-0.7777,Neg,NaN,NaN,NaN,NaN,NaN
196,2020-04-25,2020-04-25 05:57:10+00:00,Bharat Petroleum,2854166772,1253926000687267841,0.022154,0.017198,0.017214,0.008523,0.001649,...,0.021281,BPCLimited,Hon?ble Minister of Petroleum & Natural Gas a...,-0.4404,Neg,NaN,NaN,NaN,NaN,NaN
197,2020-05-15,2020-05-15 03:32:13+00:00,Progressive Activist Demanding🇺🇸Justice 4 ALL,2327325201,1261137281101885444,0.000125,0.076112,0.058058,0.025846,0.000010,...,0.013455,bernard_karin,@GOP ????????Drones out 2 PUBLICLY Attack Wh...,-0.9781,Neg,NaN,NaN,NaN,NaN,NaN
198,2020-05-20,2020-05-19 21:35:32+00:00,Traffic Updates + Useful Info,216331785,1262859461024079872,0.022509,0.410678,0.013076,0.277854,0.003474,...,0.090522,trafficbutter,VIA @NuelchuksG: An asthmatic patient gets a...,-0.6486,Neg,NaN,NaN,NaN,NaN,NaN
199,2020-06-01,2020-01-06 10:03:14+00:00,Hurr,1083208068,1214125261307953152,0.000319,0.082047,0.032106,0.006840,0.000010,...,0.014648,jaleelhb,This is end selling price 117.01 assign for A...,0.0000,Neu,NaN,NaN,NaN,NaN,NaN

In [73]:
#final merge data
fdf.to_csv('mergedDataOfInfUsers.csv')

In [3]:
infdf= pd.read_csv("mergedDataOfInfUsers.csv")
infdf.head()

,Unnamed: 0,Date,Tweet Datetime,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,...,score,TWITTER HANDLE,TWEET,Vader Sentiment Score,sentiment,Open,High,Low,Close,Volume
0,0,2016-01-08,2016-08-01 15:55:48+00:00,Jobzvilla.com,574235596,760141993561522176,0.000312,0.078227,0.000379,0.004370,...,0.013964,jobzvilla,CAREER OPPORTUNITIES IN ATTOCK PETROLEUM Assi...,0.5160,Pos,483.0,483.00,480.01,480.01,1900.0
1,1,2016-01-20,2016-01-20 14:25:58+00:00,Dr Freddy ,322988210,689816138822262784,0.001260,0.077405,0.004927,0.048618,...,0.014603,DOC_FREDDYBOSS,Pipeline Attack: NNPC Shuts Port Harcourt Kad...,-0.4767,Neg,440.0,445.00,435.00,435.00,2300.0
2,2,2016-01-21,2016-01-21 06:39:53+00:00,The Paradise,4248352301,690061234067087360,0.000971,0.147399,0.024461,0.007473,...,0.026634,ParadiseNewsNg,NNPC Shuts Port Harcourt And Kaduna Refinerie...,-0.4767,Neg,445.0,445.00,427.00,427.00,2400.0
3,3,2016-02-22,2016-02-22 15:03:45+00:00,Green Bean,15081378,701784449722089472,0.000718,0.099352,0.373164,0.028567,...,0.018099,iamgreenbean,Fossil fuel industry funding new group to spe...,-0.1280,Neg,426.0,434.00,422.00,428.11,31500.0
4,4,2016-03-06,2016-06-03 05:57:32+00:00,The Guardian Nigeria,57320024,738610550146400256,0.141371,0.007153,0.003468,0.068118,...,0.117793,GuardianNigeria,Niger Delta Avengers attack Shell Petroleum D...,-0.5632,Neg,433.8,439.99,431.34,436.97,12000.0

In [4]:
infdf.drop(['Unnamed: 0'],axis = 1 , inplace = True)
infdf.drop(['Tweet Datetime'],axis = 1 , inplace = True)

In [13]:
infdf['next_day_close_price'] = infdf['Close'].shift(periods= -1)
infdf['next_day_open_price'] = infdf['Open'].shift(periods= -1)

In [14]:
infdf

,Date,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,...,TWEET,Vader Sentiment Score,sentiment,Open,High,Low,Close,Volume,next_day_close_price,next_day_open_price
0,2016-01-08,Jobzvilla.com,574235596,760141993561522176,0.000312,0.078227,0.000379,0.004370,0.000098,0.000000,...,CAREER OPPORTUNITIES IN ATTOCK PETROLEUM Assi...,0.5160,Pos,483.0,483.00,480.01,480.01,1900.0,435.00,440.0
1,2016-01-20,Dr Freddy ,322988210,689816138822262784,0.001260,0.077405,0.004927,0.048618,0.000667,0.000000,...,Pipeline Attack: NNPC Shuts Port Harcourt Kad...,-0.4767,Neg,440.0,445.00,435.00,435.00,2300.0,427.00,445.0
2,2016-01-21,The Paradise,4248352301,690061234067087360,0.000971,0.147399,0.024461,0.007473,0.000069,0.000000,...,NNPC Shuts Port Harcourt And Kaduna Refinerie...,-0.4767,Neg,445.0,445.00,427.00,427.00,2400.0,428.11,426.0
3,2016-02-22,Green Bean,15081378,701784449722089472,0.000718,0.099352,0.373164,0.028567,0.005544,0.000968,...,Fossil fuel industry funding new group to spe...,-0.1280,Neg,426.0,434.00,422.00,428.11,31500.0,436.97,433.8
4,2016-03-06,The Guardian Nigeria,57320024,738610550146400256,0.141371,0.007153,0.003468,0.068118,0.018968,0.040658,...,Niger Delta Avengers attack Shell Petroleum D...,-0.5632,Neg,433.8,439.99,431.34,436.97,12000.0,424.16,420.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2020-04-04,Miranda C. Bell Reporting NMS15a Felony Crimes,2790314135,1246207383023554560,0.000756,0.168873,0.271215,0.029688,0.001217,0.000968,...,He's practically revealing this is a staged p...,-0.7777,Neg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2020-04-25,Bharat Petroleum,2854166772,1253926000687267841,0.022154,0.017198,0.017214,0.008523,0.001649,0.015489,...,Hon?ble Minister of Petroleum & Natural Gas a...,-0.4404,Neg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2020-05-15,Progressive Activist Demanding🇺🇸Justice 4 ALL,2327325201,1261137281101885444,0.000125,0.076112,0.058058,0.025846,0.000010,0.000000,...,@GOP ????????Drones out 2 PUBLICLY Attack Wh...,-0.9781,Neg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2020-05-20,Traffic Updates + Useful Info,216331785,1262859461024079872,0.022509,0.410678,0.013076,0.277854,0.003474,0.000000,...,VIA @NuelchuksG: An asthmatic patient gets a...,-0.6486,Neg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2020-06-01,Hurr,1083208068,1214125261307953152,0.000319,0.082047,0.032106,0.006840,0.000010,0.000000,...,This is end selling price 117.01 assign for A...,0.0000,Neu,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
n = 7
infdf.drop(infdf.tail(n).index,
        inplace = True)

In [21]:
infdf

,Date,Twitter Username,Twitter User Id,Tweet Id,Users Following Count,Friends Count,Users Number of Likes,Users Tweets Count,Lists Containing User,Retweet Count,...,TWEET,Vader Sentiment Score,sentiment,Open,High,Low,Close,Volume,next_day_close_price,next_day_open_price
0,2016-01-08,Jobzvilla.com,574235596,760141993561522176,0.000312,0.078227,0.000379,0.004370,0.000098,0.000000,...,CAREER OPPORTUNITIES IN ATTOCK PETROLEUM Assi...,0.5160,Pos,483.00,483.00,480.01,480.01,1900.0,435.00,440.00
1,2016-01-20,Dr Freddy ,322988210,689816138822262784,0.001260,0.077405,0.004927,0.048618,0.000667,0.000000,...,Pipeline Attack: NNPC Shuts Port Harcourt Kad...,-0.4767,Neg,440.00,445.00,435.00,435.00,2300.0,427.00,445.00
2,2016-01-21,The Paradise,4248352301,690061234067087360,0.000971,0.147399,0.024461,0.007473,0.000069,0.000000,...,NNPC Shuts Port Harcourt And Kaduna Refinerie...,-0.4767,Neg,445.00,445.00,427.00,427.00,2400.0,428.11,426.00
3,2016-02-22,Green Bean,15081378,701784449722089472,0.000718,0.099352,0.373164,0.028567,0.005544,0.000968,...,Fossil fuel industry funding new group to spe...,-0.1280,Neg,426.00,434.00,422.00,428.11,31500.0,436.97,433.80
4,2016-03-06,The Guardian Nigeria,57320024,738610550146400256,0.141371,0.007153,0.003468,0.068118,0.018968,0.040658,...,Niger Delta Avengers attack Shell Petroleum D...,-0.5632,Neg,433.80,439.99,431.34,436.97,12000.0,424.16,420.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2019-12-11,webnow🌎,1052519189989269504,1194246240453775362,0.000397,0.072383,0.000005,0.136240,0.000373,0.000000,...,Mexican state-owned petroleum company Petrole...,-0.6249,Neg,376.99,377.00,369.00,369.36,19400.0,369.36,376.99
184,2019-12-11,webnow🌎,1052519189989269504,1194273026130489344,0.000397,0.072383,0.000005,0.136240,0.000373,0.000000,...,Mexican state-owned petroleum company Petrole...,-0.6249,Neg,376.99,377.00,369.00,369.36,19400.0,374.51,375.00
185,2019-12-19,Prof Julia 🌍🌹🌱 ClimateAction FightFascism 🇵🇸,229016226,1207432598131236866,0.002643,0.065747,0.127978,0.017123,0.006447,0.017425,...,.@UniversityLeeds how can it be appropriate ...,-0.5362,Neg,375.00,376.00,370.00,374.51,63400.0,365.07,369.50
186,2019-12-28,Mombasa Press Club,774999991274311680,1210849491009622017,0.000124,0.076020,0.003120,0.001822,0.000020,0.000000,...,"""This attack on Ruto by RailaOdinga must stop...",-0.7003,Neg,369.50,372.50,363.50,365.07,106050.0,365.07,369.50
187,2019-12-28,Edward Waswa Kisiang'ani,1374364567,1210796541918642177,0.016396,0.041123,0.005765,0.002426,0.000834,0.137464,...,This attack on Ruto by @RailaOdinga must stop...,-0.9007,Neg,369.50,372.50,363.50,365.07,106050.0,366.20,368.00

In [23]:
#final merge data
infdf.to_csv('mergedDataOfInfUsersV4.csv')